<h2 class="inactive underlineHover">Reset Password</h2>
<form
  #resetPasswordForm="ngForm"
  (ngSubmit)="resetPasswordForm.valid && onSubmit(resetPasswordForm)"
>
  <input
    *ngIf="showCheckUserButton"
    type="text"
    #UniqueId="ngModel"
    [(ngModel)]="userService.selectedUser.UniqueId"
    name="UniqueId"
    placeholder="Mobile Number / Email Id"
    required
    [ngClass]="{
      'invalid-textbox': resetPasswordForm.submitted && !UniqueId.valid
    }"
  />

  <p *ngIf="showResetPasswordButton">{{ uniqueQuestion.Question }}</p>
  <input
    #UniqueQuestionAnswer="ngModel"
    [(ngModel)]="userService.selectedUser.UniqueQuestionAnswer"
    *ngIf="showResetPasswordButton"
    type="password"
    name="UniqueQuestionAnswer"
    placeholder="Security Question Answer"
    required
    [ngClass]="{
      'invalid-textbox':
        resetPasswordForm.submitted && !UniqueQuestionAnswer.valid
    }"
  />
  <input
    #NewPassword="ngModel"
    [(ngModel)]="userService.selectedUser.NewPassword"
    *ngIf="showResetPasswordButton"
    type="password"
    name="NewPassword"
    placeholder="New Password"
    minlength="4"
    required
    [ngClass]="{
      'invalid-textbox': resetPasswordForm.submitted && !NewPassword.valid
    }"
  />
  <input
    *ngIf="showCheckUserButton"
    type="submit"
    (click)="buttonType = 'checkuser'"
    value="Next"
  />
  <input
    *ngIf="showResetPasswordButton"
    type="submit"
    (click)="buttonType = 'resetpassword'"
    value="Reset Password"
  />
</form>

<!-- Success message -->
<div class="success" *ngIf="showSuccessMessage">Password changed.</div>

<!-- Error message -->
<div class="alert" *ngIf="serverErrorMessages">
  {{ serverErrorMessages }}
</div>
