<div class="wrapper fadeInDown">
  <div id="formContent" style="text-align: left; padding: 10px">
    <p
      style="
        font-size: 20px;
        font-weight: bold;
        color: #34c9eb;
        text-align: center;
      "
    >
      DUMMY AMAZON
    </p>
    <p>
      <span style="font-weight: bold">404.</span>
      <span style="color: #6c6e70"> That's an error.</span>
    </p>
    <p>
      The requested URL was not found on this server.
      <span style="color: #6c6e70"> That's all we know.</span>
    </p>
  </div>
</div>
